body, h1, div { font-family:arial;}

body { padding:20px;}

#content { width:640px; }


#slider { width:100%; }

#startVideo { width:5em; }

#startSubmit { width:100px; height:20px;  margin-top:20px; }

div.formelem { padding:10px;}

#slider.arousal, #slider.valence { 
  background: #6290e0; /* Old browsers */
  background: -moz-linear-gradient(left,  #6290e0 0%, #a8a8a8 51%, #bc3d27 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6290e0), color-stop(51%,#a8a8a8), color-stop(100%,#bc3d27)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #6290e0 0%,#a8a8a8 51%,#bc3d27 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #6290e0 0%,#a8a8a8 51%,#bc3d27 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #6290e0 0%,#a8a8a8 51%,#bc3d27 100%); /* IE10+ */
  background: linear-gradient(left,  #6290e0 0%,#a8a8a8 51%,#bc3d27 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6290e0', endColorstr='#bc3d27',GradientType=1 ); /* IE6-9 */
}

#dimension { width:100%; text-align:center; font-size:20px; font-weight:bold; margin-bottom:10px;}

#labels { width:100%; padding:2px; } 
#labels .left {  width:50%;text-align:left; display:inline-block;} 
#labels .right { width:50%;text-align:right; display:inline-block;  } 

#buttonArea { width:100%; text-align:center; margin-top:20px; }

.videolist {font-size:12px; list-style:none; padding-left:0;}
.videolist li { padding:5px; padding-left:0px; }



.prop { margin-bottom: 20px}
.propLabel { margin-bottom:5px; font-weight: bold; text-align:center; width: 100% }
.slider.social { 
  width:640px; margin-top:30px
  background: #6290e0; /* Old browsers */
  background: -moz-linear-gradient(left,  #6290e0 0%, #a8a8a8 51%, #bc3d27 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6290e0), color-stop(51%,#a8a8a8), color-stop(100%,#bc3d27)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #6290e0 0%,#a8a8a8 51%,#bc3d27 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #6290e0 0%,#a8a8a8 51%,#bc3d27 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #6290e0 0%,#a8a8a8 51%,#bc3d27 100%); /* IE10+ */
  background: linear-gradient(left,  #6290e0 0%,#a8a8a8 51%,#bc3d27 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6290e0', endColorstr='#bc3d27',GradientType=1 ); /* IE6-9 */
}

#saveBut { font-size:1.5em; margin-top:20px; }